<div class="col-lg-12 col-md-12 col=sm-12 col-xs-12 text-center loadImage">
    <div class="row">
        <div style="display: inline-block">
            <div class="form-group pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="$ctrl.fileDimension" value="Origin">
                        исходный
                    </label>
                </div>
            </div>
            <div class="form-group pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="$ctrl.fileDimension" value="Sticker">
                        стикер
                    </label>
                </div>
            </div>
            <div class="form-group pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="$ctrl.fileDimension" value="Small">
                        400px
                    </label>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="$ctrl.fileDimension" value="">
                        600px
                    </label>
                </div>
            </div>
            <div class="form-group pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="$ctrl.fileDimension" value="Big">
                        1200px
                    </label>
                </div>
            </div>
            <div class="form-group pull-left">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="$ctrl.fileDimension" value="FullImg">
                        1920px
                    </label>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="form-group text-center box-photo" ng-if="fileSrc">
        <img class="img-responsive " ng-src="{{fileSrc}}" alt="выберите файл"/>
    </div>
    <div class="add-photo">
        <div>
            <a type="button" class="btn btn-fab" title="добавить фото"  ng-disabled="noChange || !itemId" ng-click="clickFile();">
                <i class="material-icons md-36 link-success">add_a_photo</i>
            </a>
            <a class="btn  btn-fab " ng-if="!noLoad && !noChange" title="загрузить" ng-click="uploadImg()">
                <i class="material-icons">get_app</i>
            </a>
            <a type="button" class="btn btn-fab" ng-click="deleteImg()" title="удалить фото" ng-if="fileSrc && !gallery" >
                <i class="material-icons link-warning">delete</i>
            </a>
        </div>
        <div class="col-lg-12" ng-if="!noLoad && noChange">
            <img src="img/spinner.gif">
        </div>
        <div class="clearfix"></div>
        <input type="file" file-read-src="fileSrc" my-file="myFile" name="image" id="imagefile{{now}}" style='visibility: hidden;'/>
    </div>
</div>
<div class="clearfix"></div>
