.background-logo {
    background-color: $background-color;
    color:$color;
}
.hideLink {
    display: none;
}
.collapsedText{
    overflow-y: hidden;
    height: 100px;
    transition: all ease-in-out 0.5s;
}
.textInBlock {
    transition: all ease-in-out 0.5s;
}
.textInBlock.collapsedText {
    box-shadow: inset 0px -95px 70px -35px white;
    transition: all ease-in-out 0.5s;
}
.desc {
    position: relative;
    z-index: -1;
}

