/*zefir*/
/*.home-banner {
    position: relative;
}*/
/*img {
    width: 100%;
}*/
.box-overlay {
    background-attachment: scroll;
    background-repeat: repeat;
    background-image: none;
    background-position: 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s ease-out 0s;
    width: 100%;
    z-index: 1020;
}
.home-banner:hover .box-overlay {
    opacity: 0.4;
}
/*.banner-content {
    position: absolute;
    z-index: 1025;
    display: block;
}*/
/*.home-banner  .title-block {
    display: none;
}*/
.home-banner:hover .title-block  {
    display: block;
}

@media (max-width: 1200px) and (min-width: 1025px){
    .home-banner  .banner-content {
        height: 60%;
    }
    .home-banner .title-block {
        display: block;
    }
    h1,
    .banner-desc {
        font-size: 32px;
        padding: 20px;
    }
}
/*.mobile-wrapper   .home-banner {
    height: 85vh;
    overflow: hidden;
}
.mobile-wrapper   .home-banner img {
    max-height: 600px;
    min-width: 850px;
    position: absolute;
    right: -150px;
}
.mobile-wrapper   .home-banner .banner-content {
    width: 100%;
    bottom: 60px;
}
.mobile-wrapper   .home-banner h1.banner-header ,
.mobile-wrapper   .home-banner .banner-desc {
    padding: 10px;
}
.mobile-wrapper   .home-banner h1.banner-header ,
.mobile-wrapper   .home-banner .banner-desc p{
    font-size: 24px;
    line-height: 26px;
}
.mobile-wrapper   .home-banner .title-block {
    display: block;
}*/

