<div ng-if="$ctrl.item">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 template-item">
        <div class="col-lg-12 pages-header">
            <div class=" tab-nav-stuff col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                <a ui-sref="frame">
                    <i class="material-icons link-warning">reply</i>
                </a>

            </div>
            <div class="tab-nav col-lg-10 col-md-10 col-sm-10 col-xs-10  text-center">

            </div>
        </div>
    </div>
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cart-detail">

        </div>
    </div>
</div>




